<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.howse">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PreviewChatArrendador"></activity>
        <activity android:name=".MenuAbstractActivityArrendador" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ListaDeLaCompraActivity" />
        <activity android:name=".AniadirTareasActivity"></activity>
        <activity android:name=".HistorialComprasActivity" />
        <activity
            android:name=".AgnadirArticuloActivity"
            android:theme="@style/AppTheme.PopCompra" />
        <activity
            android:name=".ListaCompraActivity"
            android:label="@string/title_activity_lista_compra" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".TareasActivity" />
        <activity android:name=".PreviewDelChat" />
        <activity android:name=".MenuAbstractActivity" />
        <activity android:name=".ActivityCodigoCasa" />
        <activity android:name=".ActivityCaseroInquilino" />
        <activity android:name=".AniadirActividadPopActivity"
            android:theme="@style/AppTheme.PopCompra"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Perfil" />
        <activity android:name=".PerfilArrendador" />
    </application>

</manifest>